div{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 59vh;
}
p{
    font-size: 50px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100% ;
    color:rgba(8, 8, 8, 0.203);

}